@media (max-width: 1100px) {
    .intro__img {
        width: 350px;
    }
}

@media (max-width: 991px) {
    .header__navbar-items {
        align-items: center;
    }
}

@media (max-width: 800px) {
    .header__navbar-items {
        gap: 10px;
    }

    .intro {
        margin-top: 50px;
    }

    .intro__inner {
        flex-direction: column-reverse;
        gap: 50px;
        align-items: center;
    }

    .text__upper {
        align-items: center;
    }
}

@media (max-width: 400px) {
    .intro__img {
        width: 250px;
    }
}

@media (max-width: 380px) {
    .logo {
        font-size: 35px;
    }
}