@media (max-width: 1100px) {
    .intro__img {
        width: 350px;
    }

    .projects__lower {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 991px) {
    .header__navbar-items {
        align-items: center;
    }

}

@media (max-width: 800px) {
    .header__navbar-items {
        gap: 10px;
    }

    .intro {
        margin-top: 50px;
    }

    .intro__inner {
        flex-direction: column-reverse;
        gap: 50px;
        align-items: center;
    }

    .text__upper {
        align-items: center;
    }

    .skills {
        margin-top: 50px;
        padding: 50px 0;
    }

    .projects {
        margin: 50px 0;
    }

    .projects__lower {
        grid-template-columns: 1fr;
    }

    .projects__card-link {
        font-size: 18px;
    }

    .footer__inner {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .skill__name {
        font-size: 25px;
    }
}


@media (max-width: 400px) {
    .intro__img {
        width: 250px;
    }

    .skills__items {
        gap: 30px;
    }

    .skill__name {
        font-size: 18px;
    }
}

@media (max-width: 380px) {
    .logo {
        font-size: 35px;
    }
}