/* Color palette:
Main1: #050505
Main2: #221F3B
Accents: #6F4A8E
Text: #EBEBEB 

Use widths: 400(reg), 700(bold), 900(black)*/

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #EBEBEB;
    background-color: #050505;
}

.header{
    background-color: #221F3B;
}

.container {
    max-width: 1230px;
    padding: 0 20px;
    margin: 0 auto;
}  

.logo{
    color: #6F4A8E;
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-transform: uppercase;
}

.logo:hover{
    color: #EBEBEB;
}

.header__navbar{
    flex-grow: 0;
}

.header__navbar-items{
    gap: 40px;
}

.header__nav-link{
    color: #EBEBEB;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

.header__nav-link:hover{
    color: #6F4A8E;
}

.intro{
    margin-top: 100px;
}

.intro__inner{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.intro__img{
    width: 450px;
}

.intro__text{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.intro__text-upper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    color: #EBEBEB;
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-transform: uppercase;
}

.subtitle{
    color: #6F4A8E;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.paragraph{
    color: #EBEBEB;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}

.skills{
    margin-top: 100px;
    padding: 60px 0;
    background-color: #221F3B;
}
.skills__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.skills__column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skills__items{
    display: flex;
    gap: 60px;
}

.a-skill{
    display: flex;
    align-items: center;
    background-color: #050505;
    border-radius: 50px;
}

.skill__name{
    color: #EBEBEB;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    padding-right: 20px;
}