/* Color palette:
Main1: #050505
Main2: #221F3B
Accents: #6F4A8E
Text: #EBEBEB 

Use widths: 400(reg), 700(bold), 900(black)*/

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #EBEBEB;
    background-color: #050505;
}

.header {
    background-color: #221F3B;
}

.container {
    max-width: 1230px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo,
.logo:focus{
    color: #6F4A8E;
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-transform: uppercase;
}

.logo:hover{
    color: #EBEBEB;
}

.header__navbar {
    flex-grow: 0;
}

.header__navbar-items {
    gap: 40px;
}

.header__nav-link {
    color: #EBEBEB;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

.header__nav-link:hover {
    color: #6F4A8E;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url(../images/burger-menu.svg);
}

.intro {
    margin-top: 100px;
}

.intro__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.intro__img {
    border-radius: 50px;
    /* temporary */
    width: 450px;
}

.intro__text {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.text__upper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    color: #EBEBEB;
    font-size: 46px;
    font-weight: 900;
    line-height: 55px;
    text-transform: uppercase;
}

.subtitle {
    color: #6F4A8E;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.paragraph {
    color: #EBEBEB;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}

.skills {
    margin-top: 100px;
    padding: 100px 0;
    background-color: #221F3B;
}

.skills__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.skills__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skills__items {
    display: flex;
    gap: 60px;
}

.a-skill {
    display: flex;
    align-items: center;
    background-color: #050505;
    border-radius: 50px;
}

.skill__name {
    color: #EBEBEB;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    padding-right: 20px;
}

.projects {
    margin: 100px 0;
}

.projects__inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.text__center {
    align-items: center;
}

.projects__lower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.projects__card {
    background-color: #221F3B;
    padding: 20px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projects__card-image {
    /* temporary */
    width: 100%;
    border-radius: 30px;
}

.projects__card-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects__card-title {
    color: #6F4A8E;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.projects__card-link {
    background-color: #050505;
    color: #6F4A8E;
    padding: 16px;
    border-radius: 50px;
    transition: all ease .2s;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    padding-right: 20px;
    text-transform: uppercase;
}

.projects__card-link:hover {
    background-color: #6F4A8E;
    color: #ebebeb;
    transition: all ease .2s;
}

.github__icon>path {
    fill: #6F4A8E;
    transition: all ease .2s;
}

.projects__card-link:hover>.github__icon>path {
    fill: #EBEBEB;
    transition: all ease .2s;
}

.footer {
    background-color: #221F3B;
    padding: 20px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__contacts-item {
    display: flex;
    align-items: center;
}

.footer__contacts-link {
    color: #EBEBEB;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    transition: all ease .2s;
}

.footer__contacts-link:hover {
    color: #6F4A8E;
}